#nav {
  background-color: azure;
}

#main .container {
  max-width: 2007px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 0px;
}

.main-bg{
  height: 300px;
  background-image: url(bg.png);
  background-size : cover;
  background-position : center;
}

.start {
  opacity : 0;
}
.end {
  transition: opacity 0.9s;
  opacity : 1;
  
}